.h5p-container {
  font-family: sans-serif;

  h1,
  h2,
  h3,
  h4,
  p {
    font-family: sans-serif; // Overrides WordPress's default styling
  }

  p {
    font-size: 1.125rem;
  }

  * {
    -webkit-font-smoothing: antialiased;
  }
}
