@use "../../../../common/abstracts" as *;

.wordAudio {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: $font-size-32;
  z-index: 1;
}

.wordAudio button {
  all: unset;
  cursor: pointer;
}

.visuallyHidden {
  @include visually-hidden;
}
