.wordAudio {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 2rem;
    z-index: 1;
}

.wordAudio button {
    all: unset;
    cursor: pointer;
}