@use "../../../../common/abstracts/" as *;

.button {
  all: unset;
  border-radius: 1em;
  width: 1.4em;
  height: 1.4em;
  cursor: pointer;

  box-sizing: border-box;
}

.selected {
  outline: 0.1875em solid #3d79c0;
  outline-offset: 0.125em;
}

.blueMagenta {
  background: $topicImageBlueMagentaStroke;
}

.burgundy {
  background: $topicImageBurgundyStroke;
}

.orange {
  background: $topicImageOrangeStroke;
}

.white {
  border: 0.0625em solid grey;
  background: $topicImageWhiteStroke;
}

.blackTransparent {
  border: 0.4em solid $topicImageBlackTransparentStroke;
  background: $topicImageBlackTransparentFill;
}
