@use "common/abstracts";
@use "common/base";

* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto !important; // WordPress slows down scrolling, this fixes it
}

.skip-link,
.skip-link:focus {
  display: none !important; // hide Wordpress skip to content link
}
