@use "common/abstracts";
@use "common/base";

* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  box-sizing: border-box;
}

.skip-link,
.skip-link:focus {
  display: none !important; // hide Wordpress skip to content link
}

.Toastify__toast-container {
  width: 380px;
}

.Toastify__toast-body {
  padding: 0.5rem;
  margin: 0;
}
