@use "common/abstracts" as *;

:root {
  --swiper-navigation-size: 1rem;
  --swiper-theme-color: $dark-grey;
}

.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    background-color: #edebe9;
    border: none;
    border-radius: 50%;
    height: 1.875rem;
    width: 1.875rem;

    &:hover,
    &:focus {
      background-color: $burgundy;
      border-color: $burgundy;
      color: white;
    }

    &:focus {
      outline: $outline-on-dark-background !important;
    }

    &::after {
      font-weight: bold;
    }
  }

  /* Fix for better visual centering of the arrows */
  .swiper-button-prev::after {
    margin-right: 2px;
  }

  .swiper-button-next::after {
    margin-left: 2px;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    @media print {
      display: none;
    }
  }
}
