@use "../../../../common/abstracts" as *;

.gridBig,
.gridCompact {
  display: inline-grid;
  grid-gap: $spacing--16;
  width: 100%;
}

.gridBig {
  /* static elements */
  // grid-template-columns: repeat(auto-fill, $topic-card-big-width);

  /* dynamic elements */
  grid-template-columns: repeat(auto-fit, minmax($topic-card-big-width, 1fr));
}

.gridCompact {
  grid-template-columns: repeat(
    auto-fit,
    minmax($topic-card-compact-width, 1fr)
  );
}
