@use "../../../../common/abstracts" as *;

.grid {
  display: inline-grid;

  /* static elements */
  // grid-template-columns: repeat(auto-fill, $topic-card-width);

  /* dynamic elements */
  grid-template-columns: repeat(auto-fill, minmax($topic-card-width, 1fr));

  grid-gap: $spacing--16;
  width: 100%;
}
