@use "../../../../common/abstracts" as *;

.printButton {
  all: unset;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: $font-size-18;
  font-weight: normal;
  line-height: 1;

  &Wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

.printWordsWrapper {
  display: none;
}

.printDropdownContent {
  display: none;
  position: absolute;
  flex-direction: column;
  margin-top: 1rem;
  background-color: white;
  min-width: 3rem;
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  z-index: $fav-language-selector-z-index;
  padding: 25px;
  color: black;
}

.show {
  display: flex;
}

.printDropdownElementWrapper {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid lightgrey;
  }
  transition-duration: 0.2s;

  &:hover {
    background: $beige;
  }
}

.printDropdownElement {
  all: unset;
  font-size: $font-size-20;
  gap: $spacing--16;
  height: 100%;
  align-items: center;
  line-height: 1;
  padding: 1rem $spacing--8;
}
