@use "../../../../common/abstracts" as *;

.printWrapper {
  border-top: 2px solid $beige;
  margin-top: $spacing--40;
  padding-top: $spacing--24;

  @media print {
    display: none;
  }
}

.printButton,
.printButtonActive {
  all: unset;
  background-color: transparent;
  border: 2px solid $dark-beige;
  border-radius: 1rem;
  cursor: pointer;
  font-size: $font-size-18;
  font-weight: normal;
  line-height: 1;
  padding: 0.375rem 1rem;

  &:hover {
    background-color: #fff;
    border-color: $burgundy;
    color: $burgundy;
  }

  &:focus {
    &:hover {
      outline: none;
    }
  }

  &Wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }
}

.printButtonActive {
  &,
  &:focus,
  &:hover {
    background-color: $burgundy;
    border-color: $burgundy;
    color: #fff;
  }

  &:hover {
    box-shadow: 0 0 0 2px $burgundy;
  }
}

.printWordsWrapper {
  display: none;
}

.printDropdownContent {
  border: none;
  border-radius: 0.5rem;
  display: none;
  position: absolute;
  flex-direction: column;
  transform: translate(0, 0.5rem);
  background-color: white;
  min-width: 3rem;
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  z-index: $fav-language-selector-z-index;
  padding: 0.5rem 1rem;
  color: black;

  @include breakpoint-min($x-small) {
    transform: translate(0, calc(-100% - 3rem));
  }
}

.show {
  display: flex;
}

.printDropdownElementWrapper {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 2px solid $beige;
  }
  transition-duration: 0.2s;

  &:hover {
    background: $beige;
  }
}

.printDropdownElement {
  all: unset;
  direction: ltr;
  font-size: $font-size-18;
  gap: $spacing--16;
  height: 100%;
  align-items: center;
  line-height: 1;
  padding: 1rem $spacing--8;
}

.printIcon,
.printIcon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.arrowIcon svg {
  height: 0.625rem;
  width: 1rem;
}
