@use "../../../../common/abstracts" as *;

.printButton {
  all: unset;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: $font-size-18;
  font-weight: normal;

  &Wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  &:hover {
    text-decoration: underline;
  }
}
