@use "../../../../common/abstracts" as *;

.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  height: auto;

  &Vertical {
    height: 100%;
    max-width: 100%;
    width: auto;
  }
}

.overlay {
  pointer-events: all;

  polygon,
  circle {
    cursor: pointer;
    fill: none;
    stroke: none;
  }

  circle {
    stroke-width: 0.3;
  }

  polygon:hover,
  polygon:focus,
  circle:hover,
  circle:focus,
  &_active polygon,
  &_active circle {
    fill: $orange-overlay !important;
    stroke: $orange !important;
  }
}

.imageContainer {
  position: relative;
  max-height: calc(100vh - 2rem);
  width: 80%;
}

.imageVertical {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.imageHorizontal {
  height: auto;
  max-height: 100%;
  width: 100%;
}
