@use "../../../../common/abstracts" as *;

.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  pointer-events: all;

  polygon,
  circle {
    cursor: pointer;
    fill: none;
    stroke: none;
  }

  circle {
    stroke-width: 0.3;
  }

  polygon:hover,
  polygon:focus,
  circle:hover,
  circle:focus,
  &_active polygon,
  &_active circle {
    fill: $orange-overlay !important;
    stroke: $orange !important;
  }
}

.imageContainer {
  position: relative;
  width: 80%;
}
