@use "../../../../common/abstracts" as *;

.overlays {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;

  &Vertical {
    height: 100%;
  }
}

.overlay {
  pointer-events: all;

  polygon,
  ellipse {
    cursor: pointer;
    fill: none;
    stroke: none;
  }

  ellipse {
    stroke-width: 0.3;
  }

  polygon:hover,
  polygon:focus,
  ellipse:hover,
  ellipse:focus,
  &_active polygon,
  &_active ellipse {
    fill: $orange-overlay !important;
    stroke: $orange !important;
  }
}

.imageContainer {
  position: relative;
  max-height: calc(100vh - 5rem); // Compensate for mobile header height
  width: 80%;

  @include breakpoint-min($small) {
    max-height: calc(100vh - 11rem); // Compensate for header height
  }
}

.imageVertical,
.imageHorizontal {
  max-width: 100%;
  width: auto;
}

.imageVertical {
  height: 100%;
}

.imageHorizontal {
  height: auto;
  max-height: 100%;
}
