@use "../../../../common/abstracts" as *;

.buttons {
  background-color: $beige;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.05);

  @media print {
    display: none;
  }
}

.buttonBig,
.buttonCompact {
  background-color: transparent;
  border: none;
  //border: 2px solid transparent;
  border-radius: 0.4rem;
  color: #000;
  cursor: pointer;
  font-size: $font-size-16;
  line-height: 1;
  overflow: hidden;
  padding: 0.75rem 1rem;
  text-align: center;

  &:hover {
    background-color: $dark-beige;
    //border-color: $burgundy;
    //color: $burgundy;
  }

  &:focus {
    //background-color: #fff;
    //color: $burgundy;

    &:hover {
      outline: none;
    }
  }

  &.active {
    background-color: white;
    pointer-events: none;

    box-shadow: 1px 1.5px 1.5px rgba(0, 0, 0, 0.05),
      -1px 1.5px 1.5px rgba(0, 0, 0, 0.05), -1px -1px 1.5px rgba(0, 0, 0, 0.05),
      1px -1px 1.5px rgba(0, 0, 0, 0.05);
  }
}

.visuallyHidden {
  @include visually-hidden;
}
