.point {
  cursor: pointer;
  fill: orange;
  opacity: 0.8;
  transform-origin: 50% 50%;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }

  .canvas--finished & {
    opacity: 0;
  }
}

.path {
  color: #307351;
}

.path,
.circle {
  cursor: pointer;
  fill: #30735133;
  transition: fill 0.15s ease-in-out;

  &:hover,
  a:focus & {
    fill: #30735166;
  }

  // &.isDrawing {
  //   pointer-events: none;
  // }
}
