@use "../../../../common/abstracts" as *;

.word {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  position: relative;
}

.image_container {
  flex: 1;
  width: 100%;
}

.word_label {
  font-size: $font-size-24;
  line-height: normal;
  text-align: center;
}

.img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
