@use "../../../../common/abstracts" as *;

.languageSelector {
  column-count: 1;
  display: block;

  @include breakpoint-min($medium) {
    column-count: 2;
  }
}

.languageSelectorWrapper {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  overflow: auto;
  padding: 1.25rem;
  color: black;
  position: absolute;
  margin-top: 3.2rem;
  max-height: calc(100vh - 11rem);
  overflow-y: auto;
  z-index: $fav-language-selector-z-index;
}
