@use "common/abstracts" as *;

.customViewPage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainSize {
  margin: $main-content-margin;
  width: $main-content-width;
  max-width: $main-content-max-width;
  margin-bottom: 2rem;
}
.menuWrapper {
  padding: 2rem 0rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.addButton {
  font-size: $font-size-18;
  fill: $white;
}

.dialogContentWrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.dialogButtonWrapper {
  display: flex;
  gap: 1rem;

  & button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
