@use "../../../../common/abstracts" as *;

.container,
.containerFocused {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 0.75em;
}

.containerFocused {
  outline: $outline-on-light-background;
}

.label {
  color: $base-font-color;
  font-weight: normal;
  line-height: 1;
}
