@use "../../../../common/abstracts" as *;

.container,
.containerFocused {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.containerFocused {
  outline: $outline-focus-on-light-background;
}

.label {
  font-weight: normal;
  margin-right: 0.75em;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1.2em;
}

/* Hide default HTML checkbox */
.toggle input {
  @include visually-hidden;
}

/* The slider */
.slider {
  position: absolute;
  inset: 0;
  background-color: $toggle-off-color;
  transition: 0.4s;
  border-radius: 1.3em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.9em;
  width: 0.9em;
  left: 0.15em;
  bottom: 0.15em;
  background-color: $toggle-slider-color;
  transition: 0.4s;
  border-radius: 0.9em;
}

input:checked + .slider {
  background-color: $toggle-on-color;
}

input:focus + .slider {
  box-shadow: 0 0px 0.1em $toggle-focus-color;
}

input:checked + .slider:before {
  transform: translateX(0.8em);
}
