@use "../../../../common/abstracts" as *;

.container,
.containerFocused {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  gap: 0.4em;
  padding: 0 0.2rem;
}

.containerFocused {
  outline: $outline-on-light-background;
}

.label {
  color: $base-font-color;
  font-weight: normal;
  line-height: 1;
}
