@use "../../../../common/abstracts" as *;

.languageWrapper {
  background-color: $burgundy;
  overflow-x: auto;
  padding: $spacing--32 0;
  position: sticky;
  top: 0;
  z-index: $language-favorites-z-index;

  @include breakpoint-min($small) {
    display: none;
    position: relative;
  }

  @media print {
    display: none; // Show favorites in header component instead
  }
}

.languages {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: $spacing--16;
  flex-wrap: nowrap;
  width: max-content;
  padding: 0 $spacing--16;

  @media print {
    // Allow many languages and stil be scrollable on mobile when not print
    // but use margins for instances where print is scaled down
    margin: $main-content-margin;
    max-width: $main-content-max-width;
    width: $main-content-width;
  }
}

.languageButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: $font-size-18;
  text-decoration: none;
  white-space: nowrap;
}

.languageButton {
  &:hover {
    text-decoration: underline;
  }

  &_active,
  &.active {
    text-decoration: underline;
    &:focus {
      outline: none;
    }
  }

  &:not(.languageButton_active) {
    @media print {
      display: none;
    }
  }
}
