@use "../../../../common/abstracts" as *;

.languageWrapper {
  background-color: $burgundy;
  overflow-x: auto;
  overflow-y: hidden;
  position: sticky;
  top: 0;
  z-index: $language-favorites-z-index;

  @media print {
    display: none; // Show favorites in header component instead
  }
}

.hidden {
  display: none;
  position: relative;
}

.languages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: $spacing--8;
  flex-wrap: nowrap;

  margin: $main-content-margin;
  max-width: $main-content-max-width;
  width: $main-content-width;
  overflow-x: auto;
  padding: $spacing--16 0;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $burgundy;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid $burgundy; // should match background, can't be transparent
    border-radius: 0.5rem;
  }

  /* Styling for Firefox */
  scrollbar-width: 0.75rem;
  scrollbar-color: rgba(255, 255, 255, 0.6);

  li {
    list-style-type: none;
    margin: 0;
  }
}

.languageButton {
  background-color: transparent;
  border-bottom: 0.1rem solid #fff;
  color: white;
  cursor: pointer;
  font-size: $font-size-16;
  line-height: 1;
  margin: 0.35rem 0.5rem 0.25rem;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    border-color: transparent;
    text-decoration: none;
  }

  &:focus {
    outline: $outline-on-dark-background !important;
    outline-offset: 2px;
  }

  &_active,
  &.active {
    background-color: #fff;
    border-color: transparent;
    border-radius: 0.5rem;
    color: $burgundy;
    margin: 0;
    padding: 0.25rem 0.5rem 0.15rem;
    text-decoration: none;

    &:focus {
      outline: $outline-on-dark-background !important;
    }

    @media print {
      background-color: transparent;
      color: #fff;
    }

    @include breakpoint-min($medium) {
      padding: 0.35rem 0.5rem 0.25rem;
    }
  }

  &:not(.languageButton_active) {
    @media print {
      display: none;
    }
  }
}
