@use "common/abstracts" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 300px;
  overflow-y: auto;
  // make outline of container elements visible
  margin: -3px -3px 2rem;
  padding: 3px;
}
