@use "../../../../common/abstracts" as *;

.wordAudio {
  height: 1.5rem;
  z-index: 1;

  [class*="rtl"] & svg g {
    transform: scale(-1, 1);
    transform-origin: center center;
  }
}

.wordAudio button {
  all: unset;
  cursor: pointer;
  height: 1.5rem;
}

.audioIcon,
.audioIconActive {
  fill: none;
  height: 1.5rem;

  path {
    stroke: #8f8f8f;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:hover,
  &:focus {
    path {
      stroke: #333;
    }
  }

  @media print {
    display: none;
  }
}

.audioIconActive {
  path {
    stroke: #333;
  }
}

.visuallyHidden {
  @include visually-hidden;
}
