@use "../../../../common/abstracts" as *;

.wordAudio {
  height: 1.5rem;
  z-index: 1;

  [class*="rtl"] & svg g {
    transform: scale(-1, 1);
    transform-origin: center center;
  }
}

.wordAudio button {
  all: unset;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;

  &:focus {
    outline-offset: 0.25rem;
  }
}

.audioIconSpan {
  align-items: center;
  display: flex;
  height: 1.5rem;

  @media print {
    display: none;
  }
}

.audioIcon {
  fill: none;
  height: 1.5rem;

  path {
    stroke: #858585;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:hover,
  &:focus {
    path {
      stroke: $base-font-color;
    }
  }
}

.wordAudio_active {
  color: $base-font-color;

  .audioIcon path {
    stroke: $base-font-color;
  }
}

.visuallyHidden {
  @include visually-hidden;
}
