@use "../../../../common/abstracts" as *;
.language,
.languageMiddle {
  all: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing--8;
  padding: 0 $spacing--8;
  border-bottom: 1px solid lightgrey;
  transition-duration: 0.2s;

  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    background: $beige;
  }
  &.disabled {
    color: $checkbox-disabled-color;
    pointer-events: none;
    user-select: none;
  }

  &:focus-within {
    background: $beige;
    text-decoration-line: underline;
  }
}

.languageMiddle {
  border-bottom: none;
}

.checkbox input {
  @include visually-hidden;
}

.languageLabel {
  all: unset;
  flex: 1;
  display: flex;
  font-size: $font-size-20;
  cursor: pointer;
  justify-content: space-between;
  gap: $spacing--16;
  height: 100%;
  align-items: center;

  @include breakpoint-min($small) {
    width: max-content;
  }

  &:hover {
    text-decoration-line: underline;
  }
}
