@use "../../../../common/abstracts" as *;
.language,
.languageMiddle {
  all: unset;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  list-style-type: none;
  margin: 0;
  transition-duration: 0.2s;
  width: 100%;

  &:last-child {
    border-bottom-color: transparent;
  }

  &:hover,
  &:focus {
    background: $beige;
  }
  &.disabled {
    color: $checkbox-disabled-color;
    pointer-events: none;
    user-select: none;
  }

  &:focus-within {
    background: $beige;
    text-decoration-line: underline;
  }
}

.languageMiddle {
  @include breakpoint-min($medium) {
    border-bottom-color: transparent;
  }
}

.checkboxWrapper {
  position: relative;
}

.languageLabel {
  all: unset;
  flex: 1;
  color: $base-font-color;
  display: flex;
  font-size: $font-size-18;
  cursor: pointer;
  justify-content: space-between;
  gap: $spacing--16;
  height: 100%;
  align-items: center;
  line-height: 1.2;
  padding: $spacing--8;

  @include breakpoint-min($small) {
    width: max-content;
  }

  @include breakpoint-min($medium) {
    font-size: $font-size-20;
    padding: 0.75rem $spacing--8;
  }

  &:hover {
    text-decoration-line: underline;
  }

  &:hover, 
  &:focus {
    box-shadow: none;
    color: $base-font-color;
  }
}
