@use "common/abstracts" as *;

// HACK use id to override default h5p styles
#TextInput {
  padding: 0.75rem 1.5rem;
  width: 100%;
  border: 2px solid $dark-beige;
  background-color: $beige;
  border-radius: 0.5rem;
  box-shadow: none;
  font-size: $font-size-18;
  margin-top: 0.25rem;

  &:hover {
    border-color: $darker-beige;
  }

  &:focus-visible {
    outline: $outline-on-light-background !important;
  }
}

.label {
  font-size: $font-size-16;
}
