table {
  border: none;
  padding: 1rem;
  width: 100%;
}

tr {
  break-inside: avoid;
}

tr td:last-child {
  border: none;
}

.imgWrapper img {
  object-fit: contain;
  object-position: bottom center;
  width: 100%;
  max-height: 250px;
  margin-top: 1rem;
}

.label {
  text-align: center;
}

.printHeader {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  text-align: left;
}
