table {
  border: none;
  padding: 1rem;
  width: 100%;
}

tr {
  break-inside: avoid;
}

.imgWrapper img {
  object-fit: contain;
  object-position: bottom center;
  width: 100%;
  max-height: 250px;
  margin-top: 1rem;
}

.label {
  text-align: center;
}

* {
  border: none;
}
