@use "common/abstracts" as *;

.collectionElementWrapper {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $beige;
  max-width: $small;
  padding: 1.5rem 2rem;
  border: 1px solid $dark-beige;

  &:hover {
    background-color: $dark-beige;
  }
}

.label {
  font-size: $font-size-18;
  padding-right: 2rem;

  b {
    font-weight: bold;
    padding-right: 0.5rem;
  }
}

.link {
  position: absolute;
  inset: 0;

  & span {
    @include visually-hidden;
  }
}

.menuButton {
  position: absolute;
  right: 1.5rem;
  background-color: transparent;

  &:hover {
    background-color: $darker-beige;
    fill: inherit;
  }
}
