$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;

$spacing--8: 0.5rem;
$spacing--16: 1rem;
$spacing--24: 1.5rem;
$spacing--32: 2rem;
$spacing--40: 2.5rem;
$spacing--48: 3rem;
$spacing--64: 4rem;

// Breakpoints
$x-small: 30rem;
$small: 48rem;
$medium: 64rem;
$large: 75rem;
$x-large: 90rem;

$black: #000000;
$white: #ffffff;
$grey: #eee;
$beige: #f6f5f4;
$dark-beige: #ebeae8;
$burgundy: #99002b;
$blue-magenta: #000064;
$blue-magenta-light: #d6d6ff;
$blue-magenta-lighter: #ebebff;
$orange: hsla(39, 100%, 50%, 1);
$orange-overlay: hsla(39, 100%, 50%, 0.25);

$base-font-color: $black;

$topicImageBlueMagentaStroke: rgba(0, 0, 100, 1);
$topicImageBlueMagentaFill: rgba(0, 0, 100, 0.25);

$topicImageBurgundyStroke: rgba(153, 0, 43, 1);
$topicImageBurgundyFill: rgba(153, 0, 43, 0.25);

$topicImageOrangeStroke: rgba(255, 166, 0, 1);
$topicImageOrangeFill: rgba(255, 166, 0, 0.25);

$topicImageWhiteStroke: rgba(255, 255, 255, 1);
$topicImageWhiteFill: rgba(255, 255, 255, 0.25);

$topicImageBlackTransparentStroke: rgba(0, 0, 0, 1);
$topicImageBlackTransparentFill: rgba(0, 0, 0, 0);

// Used for hovering in the editor
$topicImageBlueMagentaHover: rgba(0, 0, 100, 0.45);
$topicImageBurgundyHover: rgba(153, 0, 43, 0.45);
$topicImageOrangeHover: rgba(255, 166, 0, 0.45);
$topicImageWhiteHover: rgba(255, 255, 255, 0.45);
$topicImageBlackTransparentHover: rgba(37, 22, 22, 0.45);

$outline-on-dark-background: 3px solid $orange;
$outline-on-light-background: 3px solid $burgundy;
$outline-on-audio: 3px solid $blue-magenta;

$checkbox-color: $black;
$checkbox-disabled-color: #9c9c99;
$checkbox-shadow-color: $orange;
$checkmark-color: $white;

$toggle-on-color: $burgundy;
$toggle-off-color: $white;
$toggle-slider-on-color: $white;
$toggle-slider-off-color: $burgundy;
$toggle-focus-color: $black;

$main-content-margin: 0 auto;
$main-content-max-width: 90rem;
$main-content-width: calc(100% - 2rem);

$topic-card-big-width: 18.75rem;
$topic-card-compact-width: 23.5rem;

$default-z-index: 1;
$fav-language-selector-z-index: $default-z-index + 1;
$outline-z-index: $default-z-index + 1;
$language-favorites-z-index: $outline-z-index + 1;
$header-z-index: $language-favorites-z-index + 1;
