@use "../../../../common/abstracts" as *;
.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.4em 0.4em 0.4em 0;
}

.wrapper {
  position: relative;
  display: inline-block;

  /* Hide default HTML checkbox */
  & input {
    @include visually-hidden;
  }
}
