@use "../../../../common/abstracts" as *;

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.25em;

  @include breakpoint-min($medium) {
    padding: 0.4em;
  }
}

.wrapper {
  display: inline-block;
  height: 1.75rem;
  width: 1.75rem;

  /* Hide default HTML checkbox */
  & input {
    all: unset;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
