@use "../../../../common/abstracts" as *;

.footer {
  background-color: $burgundy;
  padding: $spacing--40 0;

  &_wrapper {
    margin: $main-content-margin;
    max-width: $main-content-max-width;
    width: $main-content-width;
  }

  &_content {
    column-gap: $spacing--64;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $spacing--48;
    row-gap: $spacing--40;
  }

  &_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    font-size: $font-size-18;
    gap: $spacing--16;

    h2 {
      color: $white;
      font-size: $font-size-20;
      font-weight: bold;
      line-height: $line-height-default;
      margin: 0.25rem 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: $spacing--8;
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
    }
  }

  a,
  p {
    line-height: $line-height-default;
    margin-block-start: 0;
    margin-block-end: 0;
    color: $white;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.25rem;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      box-shadow: none;
    }
  }

  p {
    margin-bottom: $spacing--16;
  }

  :focus {
    outline: $outline-on-dark-background !important;
    outline-offset: 2px;
  }

  @media print {
    display: none;
  }
}
