@use "../../../../common/abstracts" as *;

.footer {
  background-color: $burgundy;
  margin-top: $spacing--32;
  padding: $spacing--32 0;

  &_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: $font-size-18;
    gap: $spacing--16;
    margin: $main-content-margin;
    max-width: $main-content-max-width;
    width: $main-content-width;
  }

  a,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    border-right: 1px solid white;
    padding-right: $spacing--16;
  }

  p:last-child {
    border-right: none;
    padding-right: none;
  }
}

.hide_from_print {
  @media print {
    display: none;
  }
}
