@use "../../../../common/abstracts" as *;

.subHeaderThemes,
.subHeaderWords {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: space-between;
  min-height: 2.5rem;
  margin: $main-content-margin;
  max-width: $main-content-max-width;
  width: $main-content-width;

  @include breakpoint-min($small) {
    align-items: center;
  }
}

.tools {
  column-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-18;
  row-gap: 1rem;

  @media print {
    display: none;
  }
}

.rtl {
  direction: rtl;
}
