@use "../../../../common/abstracts" as *;

.subHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  min-height: 2.75rem;
  margin: $main-content-margin;
  max-width: $main-content-max-width;
  width: $main-content-width;
}

.toggle {
  font-size: 1.2rem;

  @media print {
    display: none;
  }
}
