@use "../../../../common/abstracts" as *;

.subHeaderThemes,
.subHeaderWords {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: space-between;
  min-height: 2.5rem;

  @include breakpoint-min($small) {
    align-items: center;
  }
}

.tools {
  column-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-18;
  row-gap: 1rem;

  @media print {
    display: none;
  }
}

.rtl {
  direction: rtl;
}

.currentPage {
  color: $base-font-color;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  line-height: $line-height-default !important;
  margin: 0 !important;
  padding: 0 !important;
  word-break: break-all;
}
