@use "common/abstracts" as *;
.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.selectButton {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0.5rem;
  font-family: sans-serif;
  font-size: $font-size-16;
  gap: $spacing--8;
  width: 100%;
}

.secondary {
  color: black;
  background-color: $white;
  border: 2px solid $dark-beige;
}

.primary {
  color: $white;
  background-color: $dark-teal;
  border: 2px solid $dark-teal;
}

.options {
  border-radius: 0.5rem;
  padding: 0.25rem;
  position: absolute;
  margin-top: 3.5rem;
  z-index: $select-z-index;
  background-color: $white;
  box-shadow:
    hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  overflow-y: auto;
  max-height: clamp(20vh, 50vh, 60vh);
  color: black;
  overflow-x: hidden;
  left: 0;
  right: 0;

  &:focus-visible {
    outline: none;
  }
}

.fixed {
  position: absolute;
}

.option {
  white-space: nowrap;

  padding: 0.5rem 1rem;

  cursor: default;

  &:hover,
  &:focus {
    background: $beige;
  }
}

.selected {
  font-weight: bold;
}

.withCheckIcon {
  position: relative;
  stroke: $dark-teal;
  padding: 0.5rem 2.5rem;
}

.active {
  background: $beige;
}

.icon {
  position: absolute;
  left: 0.75rem;
}
