@use "../../../../common/abstracts" as *;

.toggle {
  display: flex;
  justify-content: flex-start;
  font-size: $font-size-18;
  margin-bottom: 1rem;

  @media print {
    display:none;
  }
}

.displayNone {
  display: none;
}
