@use "common/abstracts" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: $black;
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;

  b {
    font-weight: bold;
  }
}

.group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  justify-content: flex-end;

  a {
    color: $black;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-wrap: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
}
