.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.group a {
  text-wrap: nowrap;
}
