.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  background-color: #F6F5F4;
}

.left_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.image {
  height: 32px;
}
.image img{
  height: 100%;
}
.menu {
  flex: 10;
}

.right_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.languages {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}
