@use "../../../../common/abstracts" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing--32;
  background-color: $burgundy;
  padding: $spacing--32;
  color: white;
}

.language_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing--40;
  font-size: $font-size-24;
}

.logo {
  height: 2rem;
}
.logo img {
  height: 100%;
}

.languages {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: $spacing--16;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing--16;
}

.toggle {
  font-size: 1.2rem;
}

.languageButton,
.languageMenuButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: $font-size-18;
}

.languageButton {
  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
    &:focus {
      outline: none;
    }
  }
}

.languageMenuButton {
  display: flex;
  gap: $spacing--8;
  align-items: center;
}
