@use "../../../../common/abstracts" as *;

.header {
  background-color: $burgundy;
  padding: $spacing--16 0 $spacing--8;
  position: relative;
  top: 0;
  z-index: $header-z-index;
  margin-bottom: -2rem;

  @include breakpoint-min($x-small) {
    padding: $spacing--24 0 $spacing--16;
  }

  @include breakpoint-min($medium) {
    display: block;
    margin-bottom: 0;
    padding: $spacing--32 0;
    position: sticky;
  }

  @media print {
    display: none;
    margin-bottom: 0;
    padding: $spacing--32 0;
    position: relative;
  }

  @include breakpoint-min($x-large) {
    padding: $spacing--40 0;
  }

  &_content {
    align-items: flex-start;
    color: white;
    display: flex;
    gap: $spacing--16;
    justify-content: flex-start;
    margin: $main-content-margin;
    max-width: $main-content-max-width;
    width: $main-content-width;
    flex-wrap: wrap;

    @include breakpoint-min($x-small) {
      align-items: center;
      flex-wrap: nowrap;
    }
  }
}

.language_container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: $font-size-24;
  gap: $spacing--40;
  justify-content: flex-end;
}

.languages_nav {
  display: none;

  @include breakpoint-min($medium) {
    display: block;
  }

  @media print {
    display: block;
  }
}

.logo_oslomet {
  display: flex;
  justify-self: flex-start;
  margin: 0;

  svg {
    width: 60px;
  }

  @include breakpoint-min($small) {
    display: flex;
    justify-self: center;
    margin: 0 0.5rem; // ensure minimum free space around logo on smaller screens
  }

  @include breakpoint-min($medium) {
    svg {
      width: 80px;
    }
  }

  @include breakpoint-min($x-large) {
    margin: 0 1rem 0 0;
  }
}

.logo_labels {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: $font-size-16;
  justify-self: flex-start;
  line-height: 1.4;
  order: 3;
  text-decoration: none; // Overrides WordPress's default styling
  width: 100%;

  @include breakpoint-min($x-small) {
    order: 0;
    width: auto;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: $outline-on-dark-background !important;
  }

  &_title {
    font-size: $font-size-24;
    font-weight: bold;
  }

  &_subtitle {
    display: block;
    white-space: nowrap;
  }
}

.logo img {
  height: 100%;
}

.languages {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: $spacing--8;
  flex-wrap: wrap;
  margin: 0;

  li {
    list-style-type: none;
    margin: 0;
  }
}

.languageButton {
  background-color: transparent;
  border-bottom: 0.1rem solid #fff;
  color: white;
  cursor: pointer;
  font-size: $font-size-18;
  line-height: 1;
  margin: 0.35rem 0.5rem 0.25rem;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    border-color: transparent;
    text-decoration: none;
  }

  &:focus {
    outline: $outline-on-dark-background !important;
    outline-offset: 2px;
  }

  &_active,
  &.active {
    background-color: #fff;
    border-color: transparent;
    border-radius: 0.5rem;
    color: $burgundy;
    margin: 0;
    padding: 0.35rem 0.5rem 0.25rem;
    text-decoration: none;

    &:focus {
      outline: $outline-on-dark-background !important;
    }

    @media print {
      background-color: transparent;
      color: #fff;
    }
  }

  &:not(.languageButton_active) {
    @media print {
      display: none;
    }
  }
}

.logos,
.languages {
  :focus {
    outline: $outline-on-dark-background !important;
  }
}
