@use "../../../../common/abstracts" as *;

.gridBig {
  display: grid;
  grid-gap: $spacing--16;

  /* static elements */
  // grid-template-columns: repeat(auto-fill, $topic-card-big-width);

  /* dynamic elements */
  grid-template-columns: repeat(auto-fit, minmax($topic-card-big-width, 1fr));
}

.gridCompact {
  column-gap: $spacing--16;

  @include breakpoint-min(50rem) {
    column-count: 2;
  }

  @include breakpoint-min($large) {
    column-count: 3;
  }
}

.selectGroup {
  display: flex;
  gap: 0.5rem;
}

.topicChooser {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;
}

.topicChooserLabel {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #454347;
}

.topicChooserDescription {
  font-size: 12px;
  margin-top: 0.3em;
  margin-bottom: 1em;
  font-weight: 500;
  color: #434446;
  line-height: 15px;
  letter-spacing: 0.5px;
}
