@use "../../../../common/abstracts" as *;

/**
 * {1} Add a non-breaking space to set the minimum height of the
 *     element to the line-height. This prevents layout shifting.
 */
.breadcrumbs {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  &::after {
    $nbsp: \00a0;
    content: "#{$nbsp}"; /* {1} */
  }

  span {
    display: flex;
    align-items: center;
  }
}

.link {
  all: unset;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.arrow {
  margin: 0.8rem;
}

.homeIcon {
  border-bottom: 2px solid transparent;
  margin-right: 0.25rem;
  padding-bottom: 0.1rem;

  &:hover {
    border-color: #333;
  }
}

.currentPage {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}

.visuallyHidden {
  @include visually-hidden;
}
