@use "../../../../common/abstracts" as *;

/**
 * {1} Add a non-breaking space to set the minimum height of the
 *     element to the line-height. This prevents layout shifting.
 */
.breadcrumbs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: $spacing--24;
  margin: 0;
  padding: 0;

  @include breakpoint-min($small) {
    align-items: center;
    flex-direction: row;
    gap: unset;
    min-height: 2.75rem;

    &::after {
      $nbsp: \00a0;
      content: "#{$nbsp}"; /* {1} */
    }
  }

  li {
    list-style-type: none;
    margin: 0;
  }

  span {
    @media print {
      display: none;
    }
  }

  [class*="rtl"] & svg path {
    transform: scale(-1, 1);
    transform-origin: center center;
  }
}

.wrapper,
.wrapperHide {
  display: flex;
  align-items: center;
}

.wrapperHide {
  display: none;

  @include breakpoint-min($small) {
    display: flex;
  }
}

.link {
  all: unset;
  align-items: center;
  color: $base-font-color;
  display: flex;
  font-size: $font-size-18;
  gap: 0.5rem;
  height: 1.5rem;
  line-height: $line-height-default;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include breakpoint-min($small) {
    background-color: $grey;
    border: 2px solid transparent;
    border-radius: 1rem;
    font-size: $font-size-18;
    height: auto;
    padding: 0.375rem 1rem;

    &:hover {
      background-color: $white;
      border-color: $burgundy;
      color: $burgundy;
    }
    &:focus {
      background-color: $white;
      color: $burgundy;

      &:hover {
        outline: none;
      }
    }
  }
  @media print {
    display: none;
  }
}

.arrow {
  margin: 0 0.8rem;
  display: none;

  @include breakpoint-min($small) {
    display: flex;
    align-items: center;
  }

  & svg,
  &Left svg {
    color: $base-font-color;
    height: 1.063rem;
    width: 0.625rem;
  }

  &Left {
    display: flex;
    align-items: center;

    [class*="rtl"] & svg path {
      transform: scale(1, 1);
    }

    @include breakpoint-min($small) {
      display: none;
    }
  }
}

.homeButton {
  align-items: center;
  display: flex;

  .homeIcon,
  .homeIcon svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.backButton {
  @include breakpoint-min($small) {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }

  .backIcon {
    display: none;

    &,
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    @include breakpoint-min($small) {
      display: block;
    }
  }
}

.currentPage {
  color: $base-font-color;
  font-size: $font-size-24 !important;
  font-weight: bold !important;
  line-height: $line-height-default !important;
  margin: 0 !important;
  padding: 0 !important;
  word-break: break-all;
}

.visuallyHidden {
  @include visually-hidden;
}
