@use "../../../../common/abstracts" as *;

/**
 * {1} Add a non-breaking space to set the minimum height of the
 *     element to the line-height. This prevents layout shifting.
 */
.breadcrumbs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: $spacing--24;

  @include breakpoint-min($small) {
    align-items: center;
    flex-direction: row;
    gap: unset;

    &::after {
      $nbsp: \00a0;
      content: "#{$nbsp}"; /* {1} */
    }
  }

  span {
    @media print {
      display: none;
    }
  }
}

.wrapper,
.wrapperHide {
  display: flex;
  align-items: center;
}

.wrapperHide {
  @include breakpoint-max($small) {
    display: none;
  }
}

.link {
  all: unset;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @include breakpoint-max($small) {
    align-items: center;
    display: flex;
    font-size: $font-size-18;
    gap: 0.5rem;
    height: 1.5rem;
  }
}

.arrow {
  margin: 0.8rem;
  display: none;

  @include breakpoint-min($small) {
    display: flex;
    align-items: center;
  }

  &Left {
    display: flex;
    align-items: center;

    @include breakpoint-min($small) {
      display: none;
    }
  }
}

.homeIcon {
  border-bottom: 2px solid transparent;
  margin-right: 0.25rem;
  padding-bottom: 0.1rem;
  display: flex;
  align-items: center;

  &:hover {
    border-color: #333;
  }

  @include breakpoint-max($small) {
    padding-bottom: 0;

    svg {
      transform: scale(1.2) !important;
    }
  }
}

.currentPage {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  word-break: break-all;
}

.visuallyHidden {
  @include visually-hidden;
}
