@use "../../../../common/abstracts" as *;

.searchView{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchFieldBackground{
  background-color: $dark-beige;
}

.searchFieldWrapper{
  display: flex;
  padding: 1rem 0rem;
}

.grid {
  margin: $main-content-margin;
  width: $main-content-width;
  display: grid;
  grid-template-columns: 1fr;
  
  @include breakpoint-min(700px) {
    grid-template-columns: clamp(15rem, 25%, 20rem) 1fr;
  }
}

.searchField{
  max-width: $x-small;
  
  @include breakpoint-min(700px) {
    grid-column-start: 2;
  }
  // flex-grow: 1;
}

.searchResultWrapper{

}

