.searchResultView {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.searchViewHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderWrap {
  align-items: center;
  display: flex;
  gap: 1rem;
}
