.searchResultView {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.searchViewHeading {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.orderWrap {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.searchResultList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding-inline-start: 0; // Remove default padding
}

.dialogContentWrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dialogButtonWrapper {
  display: flex;
  gap: 1rem;

  & button {
    display: flex;
    justify-content: center;
    flex: 1;
  }
}

.searchLabel {
  & b {
    font-weight: bold;
  }
}
