.searchResultView {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.searchViewHeading {
  align-items: center;
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;

  @media print {
    display: none;
  }
}

.searchResultList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding-inline-start: 0; // Remove default padding
}

.dialogContentWrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dialogButtonWrapper {
  display: flex;
  gap: 1rem;

  & button {
    display: flex;
    justify-content: center;
    flex: 1;
  }
}

.searchResultLabel {
  margin: 0;

  & b {
    font-weight: bold;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;

  & > * {
    max-width: 100%;
  }
}
