@use "../../abstracts" as *;

.gridElement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  padding: 0.75rem 0.75rem 0.75rem 1.75rem;
  border-radius: 0;
  background-color: #f6f5f4;
  font-size: $font-size-16;
  font-weight: bold;
  border: 1.5px solid #ebeae8;
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    background-color: #ebeae8;
  }
}
