@use "../../../../common/abstracts" as *;

.gridElementBig,
.gridElementCompact {
  align-items: center;
  word-wrap: break-word;
  padding: 1rem 1.5rem;
  border-radius: 0;
  font-size: $font-size-18;
  font-weight: bold;
  line-height: 1.4;
  color: $base-font-color;
  width: 100%;
  transition-duration: 0.2s;
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;

  @include breakpoint-min($medium) {
    padding: 1rem 2rem;
  }

  &.disabled {
    pointer-events: none;
  }

  [class*="rtl"] & {
    direction: rtl;
  }

  h2 {
    color: $base-font-color;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
  }
}

.gridElementBig {
  height: 100%;
}

.gridElementCompact {
  display: flex;
}

.topicCardBig,
.topicCardCompact {
  background-color: $beige;
  border: 1.5px solid $dark-beige;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  position: relative;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background-color: $dark-beige;
  }

  &:focus {
    box-shadow: none;
  }
}

.topicCardBig {
  flex-direction: column;
}

.topicCardCompact {
  flex-direction: row;
  word-break: break-word;
}

.topicCardActive,
.topicCardActive:hover {
  background-color: $blue-magenta-lighter;
  border-color: $blue-magenta-light;

  h2 {
    color: $blue-magenta;
  }
}

.topicImage {
  object-fit: cover;

  .topicCardBig & {
    aspect-ratio: 16 / 9;
    inline-size: 100%;
  }

  .topicCardCompact & {
    height: 4.5rem;
    min-width: 6rem; // need this also for small images
    width: 6rem;

    @include breakpoint-min($x-small) {
      height: 5.5rem;
      min-width: 8rem; // need this also for small images
      width: 8rem;
    }
  }
}

.topicLink {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  text-decoration: none;

  h2 {
    @include visually-hidden;
  }
}
