@use "../../abstracts" as *;

.main {
  display: flex;
  flex-direction: column;
  gap: $spacing--16;
  width: 100%;
}

.container {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  gap: $spacing--16;
  min-height: 100vh;
}

.header_container {
  background-color: #f6f5f4;
  padding: 2rem;
}
