@use "../../../../common/abstracts" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing--16;
  width: 100%;

  :focus {
    outline: 3px solid $orange;
    z-index: $outline-z-index; // prevent adjacent elements from overlapping the outline
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing--32;
  min-height: 100vh;
}

.body {
  flex-grow: 1;
  margin: $main-content-margin;
  max-width: $main-content-max-width;
  width: $main-content-width;
}

// Overrides for WordPress below
a:hover,
a:focus {
  text-decoration-style: solid;
}
