@use "../../abstracts" as a;

.main {
  display: flex;
  flex-direction: column;
  gap: a.$spacing--16;
  width: 100%;
}

.container {
  max-width: 90rem;
}

.header_container {
  background-color: #f6f5f4;
  padding: 2rem;
}
