@use "../../../../common/abstracts" as *;

.topicImageWordList {
  max-width: 20rem;
  margin: 0 auto;
  height: 100%;
}

.label {
  all: unset;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.4;
}

.selected {
  outline: 3px solid $orange;
}
