@use "common/abstracts" as *;

.container {
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    .wrapper {
      border-color: $beige-700;
    }

    .backgroundDarkTeal {
      background-color: $darker-teal;
      border-color: $darker-teal;
    }
  }
}

.wrapper {
  position: relative;
  height: 1.25em;
  width: 1.25em;
  box-sizing: border-box;
  border: 0.1em solid $beige-500;
  border-radius: 0.25em;
  background-color: $white;
  flex: 0 0 auto; // prevent item from shrinking

  /* Hide default HTML checkbox */
  & input {
    all: unset;
    border-radius: 0.15em;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:focus-visible {
      outline: $outline-on-light-background !important;
      outline-offset: 3px;
    }

    &:checked::before {
      content: none;
    }
  }

  & svg {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
  }
}

.backgroundDarkTeal {
  background-color: $dark-teal;
  border-color: $dark-teal;
}

.textLabel {
  font-size: 1em;
  line-height: 1.25;
  max-width: 14rem;
  page-break-inside: avoid;
  user-select: none;
}
