@use "common/abstracts" as *;

.dialog {
  z-index: $dialog-z-index;
  position: relative;
  font-family: sans-serif;
}
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  span[aria-hidden="true"],
  button {
    line-height: 0;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  font-size: $font-size-20;
  gap: 0.5rem;
  font-family: sans-serif;
  line-height: $line-height-default;

  // Wordpress overrides
  margin-block-start: 0;
  margin-block-end: 0;
}

.panelContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  :focus-visible {
    outline: $outline-on-light-background;
    z-index: $outline-z-index; // prevent adjacent elements from overlapping the outline
  }
}

.panel {
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: $white;
  overflow-y: auto;
}

.searchFilterWrapper {
  display: block;
  column-count: 1;
  column-gap: 5rem;

  @include breakpoint-min($small) {
    column-count: 2;
  }
  @include breakpoint-min($medium) {
    column-count: 3;
  }
  @include breakpoint-min($large) {
    column-count: 4;
  }
}

.searchFilter {
  font-size: $font-size-20;
  line-height: 1;
  // Make sure focus outline is visible
  margin: 0 -0.25rem;
  padding: 0 0.25rem;

  li {
    list-style-type: none;
  }
}

.checkBoxWrapper {
  display: flex;
  align-items: center;
  justify-items: end;
  padding: 0.5rem 0;
}

.closeButton {
  all: unset;
  background-color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    background-color: $beige;
  }
}

.amount {
  display: flex;
  flex: 0 0 auto; // prevent item from shrinking
  align-items: center;
  justify-content: center;
  color: $white;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  background-color: $dark-teal;
  line-height: 1;
}

.label {
  font-weight: bold;
  line-height: $line-height-default;
}

.buttonLabel {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visuallyHidden {
  @include visually-hidden;
}
