@use "common/abstracts" as *;

.searchInputWrapper {
  flex-grow: 1;
  min-width: 16rem;
  position: relative;
}

// HACK use id to override default h5p styles
#searchInput {
  padding: 1rem 1.5rem 1rem 4rem;
  width: 100%;
  border: 2px solid $dark-beige;
  background-color: $beige;
  border-radius: 0.5rem;
  box-shadow: none;
  font-size: $font-size-16;

  &:focus-visible {
    outline: $outline-on-light-background !important;
  }

  &.rtl {
    direction: rtl;
  }
}

.searchInputIcon {
  position: absolute;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 100%;
  display: flex;
}

.text {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  line-height: 1;
}

.clearButton {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.25rem;
  position: absolute;
  right: 1rem;
  top: 0.7rem;

  &.rtl {
    left: 3.5rem;
    right: auto;
  }

  svg {
    display: block;
  }
}
