@use "common/abstracts" as *;

.searchInputWrapper {
  position: relative;
  width: 100%;
}

.searchInput {
  padding: 1rem;
  padding-right: 6rem;
  width: 100%;
  border: 2px solid $burgundy;
  border-radius: 0.5rem;
  box-shadow: none;
}

.searchInputText {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: $burgundy;
  color: $white;
  border: 2px solid $burgundy;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  text-align: center;
}

.text {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  line-height: 1;
}
