@use "common/abstracts" as *;

.searchInputWrapper {
  position: relative;
  width: 100%;
}

// HACK use id to override default h5p styles
#searchInput {
  padding: 1rem;
  padding-right: 4rem;
  width: 100%;
  border: 2px solid $dark-beige;
  background-color: $beige;
  border-radius: 0.5rem;
  box-shadow: none;
  font-size: 1.125rem;

  &:focus-visible {
    outline: $outline-on-light-background !important;
  }
}

.searchInputIcon {
  position: absolute;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
}

.text {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  line-height: 1;
}
