@use "../../../../common/abstracts" as *;

.wordAudio {
  padding: 0.25rem 0;

  &.selected button {
    outline: $outline-on-light-background;
  }

  @media print {
    padding: 0;
  }

  [class*="rtl"] & svg g {
    transform: scale(-1, 1);
    transform-origin: center center;
  }
}

.wordAudio button {
  all: unset;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 1rem;

  @media print {
    padding: 0;
  }
}

.word_label {
  color: $base-font-color;
  font-size: $font-size-24;
  line-height: 1.4;

  @media print {
    line-height: 1.2;
    font-size: $font-size-18;
  }
}

.audioIconSpan {
  align-items: center;
  display: flex;
  height: 2.1em; /* same as label height */

  @media print {
    display: none;
  }
}

.audioIcon {
  fill: none;
  height: 1.5rem;

  path {
    stroke: #858585;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.wordAudio:not(.wordAudio_active) button:hover {
  background-color: $beige;

  path {
    stroke: $base-font-color;
  }
}

.wordAudio_active {
  button {
    background-color: $blue-magenta-lighter;
  }

  &.selected button,
  button:focus {
    outline: $outline-on-audio;
  }

  .word_label {
    color: $blue-magenta;
  }

  .audioIcon path {
    stroke: $blue-magenta;
  }
}

.visuallyHidden {
  @include visually-hidden;
}
