@use "common/abstracts" as *;

.container {
  display: flex;
  border: 2px solid $grey;
  border-radius: 8px;
  padding: 0.75em 1.5em;
  font-size: 1rem;
}

.checked {
  border-color: $teal;
  background-color: $light-teal;

  // custom checkbox
  label > span {
    border-color: #ddd;
  }
}

.container:focus {
  outline: none;
  border-color: $teal;
}

.container:hover {
  border-color: $teal;
  cursor: pointer;
}
