@use "../../../../common/abstracts" as *;

.buttons {
  display: flex;
  flex-direction: row;
  gap: $spacing--16;
}

.buttonBig,
.buttonCompact {
  color: #000;
  cursor: pointer;
  line-height: 50%;
  min-width: 2.5rem;
  max-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  overflow: hidden;
  padding: 0;
  text-align: center;
  background-color: transparent;
  border-radius: 8px;
  border-color: transparent;

  &.active {
    pointer-events: none;
    background-color: $burgundy;

    path {
      fill: white;
      stroke: white;
    }

    &:focus {
      outline: none;
    }
  }
}
