@use "../../../../common/abstracts" as *;

.buttons {
  display: flex;
  flex-direction: row;
  gap: $spacing--16;

  @media print {
    display: none;
  }
}

.buttonBig,
.buttonCompact {
  background-color: #eee;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: $base-font-color;
  cursor: pointer;
  line-height: 50%;
  min-width: 2.5rem;
  max-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  overflow: hidden;
  padding: 0;
  text-align: center;

  svg {
    height: 2rem;
    width: 2rem;
  }

  &:hover {
    background-color: $white;
    border-color: $burgundy;
    color: $burgundy;
  }

  &:focus {
    background-color: $white;
    color: $burgundy;

    &:hover {
      outline: none;
    }
  }

  &.active {
    color: $white;
    background-color: $burgundy;
    pointer-events: none;

    path {
      fill: $white;
      stroke: $white;
    }
  }
}

.visuallyHidden {
  @include visually-hidden;
}
