@use "../../../../common/abstracts" as *;

.topicgrid {
  display: inline-grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: $spacing--16;
  width: 100%;
}
