@use "../../../../common/abstracts" as *;

$gap: $spacing--24;

.topicgrid {
  align-items: center;
  direction: ltr;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap;
  margin: 0;
  padding: 0;
  width: 100%;

  [class*="rtl"] & {
    justify-content: flex-end;
  }

  & > li {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    width: 100%;

    @include breakpoint-min(700px) {
      width: calc((100% - #{$gap}) / 2);
    }

    @include breakpoint-min(1040px) {
      width: calc((100% - (#{$gap} * 2)) / 3);
    }

    @include breakpoint-min(1390px) {
      width: calc((100% - (#{$gap} * 3)) / 4);
    }
  }
}
