@use "common/abstracts" as *;

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  border-radius: 0.5rem;
  font-family: sans-serif;
  font-size: $font-size-16;
  padding: 0.75rem 1.25rem;
  gap: $spacing--8;
  cursor: pointer;
}

.small {
  font-size: $font-size-14;
  padding: 0.25rem 0.5rem;
}

.large {
  font-size: $font-size-18;
}

.ghost {
  &:hover {
    background-color: $beige;
  }
}

.icon {
  border: none;
  background-color: transparent;
  color: $black;
  padding: 0.25rem 0.5rem;

  &:hover {
    background-color: $beige;
  }
}

.secondary {
  color: black;
  background-color: $white;
  border: 2px solid $dark-beige;

  &:hover {
    border-color: $darker-beige;
  }
}

.default {
  color: $white;
  background-color: $dark-teal;
  border: 2px solid $dark-teal;

  &:hover {
    background-color: $darker-teal;
    border-color: $darker-teal;
  }

  &:disabled,
  &[aria-disabled="true"] {
    background-color: $dark-beige;
    border-color: $dark-beige;
    color: $disabled-font-color;
    cursor: not-allowed;
    position: relative;

    &:hover .tooltip,
    &:focus-visible .tooltip {
      opacity: 0.9;
      visibility: visible;
    }
  }
}

.underline {
  background: none;
  border: none;
  border-radius: 0.25rem;
  color: $black;
  outline-offset: 2px;
  padding: 0rem;
  text-decoration: underline;
}

.filter {
  color: black;
  background-color: $white;
  border: 2px solid $dark-beige;
  box-sizing: border-box;
  gap: $spacing--8;
  padding: 0.5rem 1rem;
  width: auto;

  &:hover {
    border-color: $darker-beige;
  }

  span {
    line-height: 1.75rem;
  }

  svg {
    flex: 0 0 auto; // prevent svg from shrinking
  }
}

.capsule {
  border: 2px solid transparent;
  border-radius: 1rem;
  color: $black;
  padding: 0.375rem 1rem;
  font-size: $font-size-18;
  background-color: $grey;

  &:hover {
    background-color: $white;
    border-color: $burgundy;
    color: $burgundy;
    fill: $burgundy;
  }
}

.disabled {
  cursor: default;
  opacity: 0.4;
}

.circle {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: $beige;
  border: none;
  cursor: pointer;
  fill: $dark-grey;

  &:hover {
    background-color: $burgundy;
    fill: white;
  }
}

.tooltip {
  background-color: $dark-grey;
  border-radius: 0.5rem;
  bottom: 100%;
  color: $white;
  font-family: sans-serif;
  font-size: $font-size-14;
  line-height: $line-height-default;
  margin-bottom: 0.5rem;
  max-width: 100%;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  white-space: normal;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 250ms,
    visibility 1ms 250ms;
}
