@use "../../../../common/abstracts" as *;

.link {
  all: unset;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: $font-size-18;
  font-weight: bold;
  left: 1rem;
  outline: $outline-on-dark-background;
  padding: 1rem 1.5rem;
  position: fixed;
  text-decoration: underline;
  top: -20rem;
  width: auto;
  z-index: 999 !important;

  &:focus {
    outline: $outline-on-dark-background !important;
    top: 1rem;
  }

  @media print {
    display: none;
  }
}
