@use "common/abstracts" as *;

.cardWrapper {
  list-style: none;
}

.card {
  align-items: center;
  background: $white;
  border: 1.5px solid $dark-beige;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.image_container {
  width: 100%;
}

.image_placeholder {
  align-items: flex-end;
  display: flex;
  height: 250px;
  justify-content: center;
}

.translations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.25rem 0.5rem;
}

.translation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translationLang {
  color: #4d4d4d;
  font-style: italic;
  font-size: $font-size-16;
  line-height: 1;
}

.menuButton {
  z-index: $fav-language-selector-z-index;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.editMode {
  &.card {
    border-color: $teal-100;
    cursor: grab;
    touch-action: none;

    &:hover {
      border-color: $teal-200;
    }

    &:has(.dragHandle[aria-pressed="true"]) {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
      z-index: 1;
    }
  }

  .dragHandle {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    cursor: grab;

    &[aria-pressed="true"] {
      cursor: grabbing;
      outline-color: $dark-teal;
      outline-width: 4px;
    }
  }

  .swiper,
  .image_container,
  .translations {
    pointer-events: none;
  }

  .menuButton,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .deleteButton {
    z-index: $fav-language-selector-z-index;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}

.visuallyHidden {
  @include visually-hidden;
}
