name: Docker, Azure web apps

on:
  push:
    branches:
      - main

jobs:
  push:
    name: Build and push
    runs-on: ubuntu-latest
    outputs:
      docker_image_tag: ${{  steps.docker_image.outputs.tag  }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Get commit sha
        shell: bash
        run: echo "SHORT_SHA=$(echo -n ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV

      - name: Get branch name (merge)
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo -n ${GITHUB_REF#refs/heads/} | tr -c '[:alnum:]' '-')" >> $GITHUB_ENV

      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo -n ${GITHUB_HEAD_REF} | tr -c '[:alnum:]' '-')" >> $GITHUB_ENV

      - name: Get Repository name
        shell: bash
        run: echo "REPOSITORY_NAME=$(echo -n ${{ github.repository }} | awk '{print tolower($0)}')" >> $GITHUB_ENV

      - name: Set docker image with sha tag
        shell: bash
        run: echo "DOCKER_SHA=ghcr.io/${{ env.REPOSITORY_NAME }}:${{ env.BRANCH_NAME }}-${{ env.SHORT_SHA }}" >> $GITHUB_ENV

      - name: Set docker image with latest tag
        shell: bash
        run: echo "DOCKER_LATEST=ghcr.io/${{ env.REPOSITORY_NAME }}:latest" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug

      - name: Login to Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.DOCKER_SHA }},${{ env.DOCKER_LATEST }}

      - name: Set image as output
        id: docker_image
        shell: bash
        run: echo "{tag}=${{ env.DOCKER_SHA }}" >> $GITHUB_OUTPUT
  deploy-dev:
    if: github.ref == 'refs/heads/main'
    name: Deploy dev

    runs-on: ubuntu-latest
    needs: [push]

    environment: dev

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - uses: azure/webapps-deploy@v2
        with:
          app-name: "dev-bildetema-drupal"
          publish-profile: ${{ secrets.PUBLISH_PROFILE }}
          images: "ghcr.io/${{ needs.push.outputs.docker_image_tag }}"

  deploy-test:
    if: github.ref == 'refs/heads/main'
    name: Deploy test

    runs-on: ubuntu-latest
    needs: [push, deploy-dev]
    environment: test

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - uses: azure/webapps-deploy@v2
        with:
          app-name: "test-bildetema-drupal"
          publish-profile: ${{ secrets.PUBLISH_PROFILE }}
          images: "ghcr.io/${{ needs.push.outputs.docker_image_tag }}"

  setup-dev:
    if: github.ref == 'refs/heads/main'
    name: Setup drupal dev
    runs-on: ubuntu-latest
    needs: [push, deploy-dev]
    strategy:
      matrix:
        env: [dev]
        title: [Norsk]
    env:
      DRUPAL_URL: "https://${{matrix.env}}${{secrets.DRUPAL_URL}}"
      TITLE: ${{matrix.title}}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Install root dependencies
        uses: bahmutov/npm-install@v1

        # Sleep to make sure new version of bildetema is deployed
      - name: Sleep for 5 minutes
        uses: jakejarvis/wait-action@master
        with:
          time: "300s"

      - name: Setup
        run: npm run setup-drupal

  setup-test:
    if: github.ref == 'refs/heads/main'
    name: Setup drupal test
    runs-on: ubuntu-latest
    needs: [push, deploy-test, setup-dev]
    strategy:
      matrix:
        env: [test]
        title: [Norsk]
    env:
      DRUPAL_URL: "https://${{matrix.env}}${{secrets.DRUPAL_URL}}"
      TITLE: ${{matrix.title}}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Install root dependencies
        uses: bahmutov/npm-install@v1

        # Sleep to make sure new version of bildetema is deployed
      - name: Sleep for 5 minutes
        uses: jakejarvis/wait-action@master
        with:
          time: "300s"

      - name: Setup
        run: npm run setup-drupal
