@use "common/abstracts" as *;

.searchPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchViewBackground {
  background-color: $dark-beige;
}

.grid {
  margin: $main-content-margin;
  width: $main-content-width;
  max-width: $main-content-max-width;
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint-min(700px) {
    grid-template-columns: clamp(15rem, 25%, 20rem) 1fr;
  }
}

.searchViewWrapper {
  padding: 1rem 0rem;
}

.searchView {
  max-width: $x-small;

  @include breakpoint-min(700px) {
    grid-column-start: 2;
  }
}
