@use "common/abstracts" as *;

.searchPage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.mainSize {
  margin: $main-content-margin;
  width: $main-content-width;
  max-width: $main-content-max-width;
}

.searchResultBackground {
  background-color: $beige;
  border-top: 2px solid $dark-beige;
  border-bottom: 2px solid $dark-beige;
  padding: 2rem 0;
  flex: 1 1 0%;
}

.searchViewWrapper {
  padding: 2rem 0rem;
}
