.button {
  all: unset;
  border: 1px solid #d0d0d1;
  border-radius: 0.25em;
  font-size: 0.875rem;
  font-weight: normal;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);

  &:hover {
    border-color: grey;
  }
}

.isFinished {
  background: none;
  background-color: #479e3f;
  border-color: #11792e;
  color: white;

  &:hover {
    background-color: #11792e;
    border-color: #11792e;
  }
}

.isActive {
  background: none;
  background-color: #3d79c0;
  border-color: #3367a3;
  color: white;

  &:hover {
    background-color: #3367a3;
    border-color: #3367a3;
  }
}
